<!DOCTYPE html>
<!-- Website template form http://www.cssmoban.com/ -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - ISTARFARMBLOG</title>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
	<div class="border">
		<div id="bg">
			background
		</div>
		<div class="page">
			<div class="sidebar">
				<a href="/" id="logo"><img src="images/logo.png" alt="logo"></a>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li class="selected">
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>

			<div class="body">
				<div class="about">
					<h2>About</h2>
					<img src="images/paper-wheel.jpg" alt="">
					<h4><span>We Have Free Templates for Everyone</span></h4>
					<p>
						Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>