<!DOCTYPE html>
<!-- Website template form http://www.cssmoban.com/ -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Blog -  ISTARFARMBLOG</title>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/custom.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" type="text/css">
</head>
<body>
	<div class="border">
		<div id="bg">
			background
		</div>
		<div class="page">
			<div class="sidebar">
				<a href="/" id="logo"><img src="images/logo.png" alt="logo"></a>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li class="selected">
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>

			<div class="body">
						<div class="container">
							<div class="row clearfix">

								<div class="col-md-12 column">
									<!--第二类-->
									<div class="page-header">
										<h1>
											计算机科学 	<small>Computer Science</small>
										</h1>
									</div>
									<h2>
										Language
									</h2>
									<div class="text-info" style="margin-top: 5px" id="language" >
										<p>Google已正式结束对Eclipse Android开发工具的支持</p>
										<a >Google已正式结束对Eclipse Android开发工具的支持</a>
										<p style="margin-top: 5px;margin-bottom: 0px"><small>阅读量：4  日期：2016-09-09  标签： java tool</small></p>
									</div>
									<p>
										<a class="btn" href="/articles/category/language/0">更多 »</a>
									</p>
									<h2>
										Ideology
									</h2>
									<div class="text-info" style="margin-top: 5px" id="ideology">
										<p>Google已正式结束对Eclipse Android开发工具的支持</p>
										<a >Google已正式结束对Eclipse Android开发工具的支持</a>
										<p style="margin-top: 5px;margin-bottom: 0px"><small>阅读量：4  日期：2016-09-09  标签： java tool</small></p>

									</div>
									<p>
										<a class="btn" href="/articles/category/ideology/0">更多 »</a>
									</p>

									<!--第二类-->
									<div class="page-header">
										<h1>
											读书笔记 	 <small>Reading Notes</small>
										</h1>
									</div>
									<h2>
										China
									</h2>
									<div class="text-info" style="margin-top: 5px" id="china">
										<p>Google已正式结束对Eclipse Android开发工具的支持</p>
										<a >Google已正式结束对Eclipse Android开发工具的支持</a>
										<p style="margin-top: 5px;margin-bottom: 0px"><small>阅读量：4  日期：2016-09-09  标签： java tool</small></p>
									</div>
									<p>
										<a class="btn" href="/articles/category/china/0">更多 »</a>
									</p>
									<h2>
										Foreign
									</h2>
									<div class="text-info" style="margin-top: 5px" id="foreign" >
										<p>Google已正式结束对Eclipse Android开发工具的支持</p>
										<a >Google已正式结束对Eclipse Android开发工具的支持</a>
										<p style="margin-top: 5px;margin-bottom: 0px"><small>阅读量：4  日期：2016-09-09  标签： java tool</small></p>
									</div>
									<p>
										<a class="btn" href="/articles/category/foreign/0">更多 »</a>
									</p>
									<!--第二类完-->
								</div>
							</div>
						</div>
					</div>
			</div>
	</div>
</body>
</html>