<!DOCTYPE html>
<!-- Website template form http://www.cssmoban.com/ -->
<html>
<head>
	<meta charset="UTF-8">
	<title>LSTARFARMING BLOG</title>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
	<div class="border">
		<div id="bg">
			background
		</div>
		<div class="page">

			<div class="sidebar">
				<a href="/" id="logo"><img src="images/logo.png" alt="logo"></a>
				<ul>
					<li class="selected">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>

			</div>

			<div class="body">
				<div>
					<h2>Welcome to LSTARFARMING BLOG</h2>
					<p>
						<strong>物有本末,事有终始.知所先后,则近道矣!</strong>
					</p>
					<img style="height: 400px ; border-radius: 10px; width: 100% ;align-content: center" src="images/index1.jpg" alt=""></img>
				</div>
			</div>

		</div>
	</div>
</body>
</html>