<!DOCTYPE html>
<!-- Website template form http://www.cssmoban.com/ -->
<html>
<head>
	<meta charset="UTF-8">
	<title>LSTARFARMING BLOG</title>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
	<div class="border">
		<div id="bg">
			background
		</div>
		<div class="page">

			<div class="sidebar">
				<a href="/" id="logo"><img src="images/logo.png" alt="logo"></a>
				<ul>
					<li class="selected">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>

			</div>

			<div class="body">
				<div>
					<h2>Welcome to FineMinds Marketing Solutions</h2>
					<p>
						This website template has been collect from Free Website Templates for you, for free. You can replace all this text with your own text.
					</p>
					<img src="images/tree.jpg" alt="">
				</div>
			</div>

		</div>
	</div>
</body>
</html>