
<div class="container-fluid" style="margin-bottom: 30px">
    <div class="row-fluid">
        <h3 class="nav" style="text-align: center;background-color: whitesmoke;">目录</h3>
        <div class="span12" style="margin-top: 10px">
            <%- titles%>
        </div>
    </div>
</div>
<script charset="utf-8" src="/javascripts/page.js"></script>
